<div class="mx-32 py-20">
  <div class="text-center">
    <p>Checkout our catalog</p>
    <h2 class="pt-4 font-bold text-3xl">All Motorcycles</h2>
    <p class="pt-2 text-4xl group-hover:text-white">-</p>
  </div>
  {% paginate collection.products by 8 %}
    <div class="grid grid-cols-4 gap-6">
      {% for product in collection.products %}
        {% render 'product-card', product: product %}
      {% endfor %}
    </div>
    {% render 'pagination', paginate: paginate %}
  {% endpaginate %}
</div>
