<div class="bg-indigo-950 w-full text-neutral-300 text-sm">
  <div class="grid grid-cols-12 px-8 py-20 mx-8">
    <div class="col-span-3 pr-12">
      <p class="shop-name text-2xl">{{ shop.name | upcase }}</p>
      <p class="pt-4 text-xs">
        Ased do eiusm tempor incidi ut labore et dolore magnaian aliqua. Ut enim ad minim veniam.
      </p>
      <p class="pt-4 text-xs">alejandro.tapao@au.harveynorman.com</p>
      {% comment %} <p class="pt-4 text-xs">+1 (885) 123456789456</p> {% endcomment %}
    </div>
    <div class="col-span-2">
      <p class="font-bold">ABOUT THIS PAGE</p>
      <div class="pt-4 text-gray-300">
        {% for link in linklists['main-menu'].links %}
          <p class="pb-2">
            <a class="hover:ml-2 transform duration-200 hover:translate-x-2" href="{{ link.url }}">
              {{ link.title | upcase }}
            </a>
          </p>
        {% endfor %}
      </div>
    </div>
    <div class="col-span-3">
      <p class="font-bold">TOP BRANDS</p>
      <div class="pt-4 grid grid-cols-2 text-gray-300">
        <div>
          <p class="pb-2"><a class="hover:ml-2 transform duration-200 hover:translate-x-2" href="#">Yamaha</a></p>
          <p class="pb-2"><a class="hover:ml-2 transform duration-200 hover:translate-x-2" href="#">Honda</a></p>
          <p class="pb-2">
            <a class="hover:ml-2 transform duration-200 hover:translate-x-2" href="#">Harley-Davidson</a>
          </p>
          <p class="pb-2"><a class="hover:ml-2 transform duration-200 hover:translate-x-2" href="#">BMW</a></p>
          <p class="pb-2"><a class="hover:ml-2 transform duration-200 hover:translate-x-2" href="#">Kawasaki</a></p>
          <p class="pb-2"><a class="hover:ml-2 transform duration-200 hover:translate-x-2" href="#">Ducati</a></p>
        </div>
        <div>
          <p class="pb-2"><a class="hover:ml-2 transform duration-200 hover:translate-x-2" href="#">KTM</a></p>
          <p class="pb-2"><a class="hover:ml-2 transform duration-200 hover:translate-x-2" href="#">Triumph</a></p>
          <p class="pb-2"><a class="hover:ml-2 transform duration-200 hover:translate-x-2" href="#">Suzuki</a></p>
          <p class="pb-2"><a class="hover:ml-2 transform duration-200 hover:translate-x-2" href="#">Aprilia</a></p>
          <p class="pb-2">
            <a class="hover:ml-2 transform duration-200 hover:translate-x-2" href="#">Indian Motorcycle</a>
          </p>
          <p class="pb-2"><a class="hover:ml-2 transform duration-200 hover:translate-x-2" href="#">Moto Guzzi</a></p>
        </div>
      </div>
    </div>
    <div class="col-span-3">
      <p class="font-bold">NEWS LETTER</p>
      <p class="pt-4">Subscribe to get latest news update and informations</p>
      <div class="pt-4"><input class="p-1 w-full bg-gray-600 text-white" type="text" placeholder="Email"></div>
    </div>
  </div>
  <hr class="mx-16 text-gray-300">
  <div class="mx-16 mt-4 pb-4">Shopify Theme by Alejandro 👉🏼👈🏼</div>
</div>

{% comment %}
  {% schema %}
  {
    "name": "Banner",
    "tag": "section",
    "settings": [
      {
        "type": "image_picker",
        "id": "banner_image",
        "label": "Banner Image"
      },
      {
        "type": "text",
        "id": "banner_title",
        "label": "Banner Title",
        "default": "Get your desired motorcycle in resonable price"
      },
      {
        "type": "text",
        "id": "banner_text",
        "label": "Banner Text",
        "default": "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
      }
    ]
  }
  {% endschema %}
{% endcomment %}
